h1 {
	color: pink;
}

button:hover {
	background-color: pink;
	cursor: pointer;
	font-size: 20px;

}

#title {
	text-align: center;
	padding-top: 200px;
	background-image: url(../images/upscalemedia-transformed.jpeg);
	background-position: center top;
}